<template name="home">
    <h1>Welcome to the Orders Up application.</h1>

    <div class="row">
		<div class="col-md-6 col-md-offset-3">
			<ul class="home-menu">
				<li>
					<a href="/create-order">
						<i class="fa fa-plus"></i>
						Add new order
					</a>
				</li>
				<li>
					<a href="/orders">
						<i class="fa fa-list"></i>
						View all Orders
					</a>
				</li>
				<li>
					<a href="/orders/Hookah">
						<i class="fa fa-fire"></i>
						View all hookah orders
					</a>
				</li>
				<li>
					<a href="/orders/Beverage">
						<i class="fa fa-glass"></i>
						View all beverage orders
					</a>
				</li>
			</ul>
		</div>
	</div>
	
</template>